<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="max-width: 450px; align: center; margin: auto;">
		<p style="color: red">--- Top of the composite ---</p>
		<form action="#" th:action="@{/container}" th:object="${sample}"
			method="post">
			<div>
				<label for="templateSelection">Select a template to display</label>
				<select name="templateSelection" th:field="*{option}">
					<option th:each="option:${templateOptions}" th:value="${option}"
						th:text="${option}" />
				</select> <input type="submit" th:value="Select" />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/index.html">Home</a>

			</div>
		</form>

		<hr />

		<div th:replace="${sample.option}"></div>

		<!--    
    <div th:replace="${sample.option} == 'template2'? content2 : ~{}"></div>
    <div th:replace="${sample.option} == 'template3'? content3 : ~{}"></div>
	-->

		<hr />

		<div th:replace="footer :: copy"></div>
		<p style="color: red">--- Bottom of the composite ---</p>
	</div>
</body>
</html>