<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Layout Manager</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="max-width:450px; align:center; margin:auto;">
	<div th:replace="fragments/banner"></div>

    <hr/>
    
    <h2>Page 1</h2>
    <p>&nbsp;</p>
   
    <form action="#" th:action="@{/page1}" th:object="${userInput}" method="post">
        <div>
			<label for="categorySelect">Category</label> 
			<select name="categorySelect" th:field="*{category}">
				<option th:each="category:${categories}" th:value="${category}" th:text="${category}"/>
			</select>

			<label for="subCategorySelect">Sub-Category</label> 
			<select name="subCategorySelect" th:field="*{subCategory}">
				<option th:each="subCategory:${subCategories}" th:value="${subCategory}" th:text="${subCategory}"/>
			</select>
			
			<input type="submit" th:value="Enter"/>
		</div>
		<div><p></p></div>
 		<div>
 			<label for="selectText">Your selection: </label>
 			<input type="text" th:field="*{selection}" size="50" readonly="readonly"></input>
 		</div>   
    </form>
</div>
</body>
</html>